<h1>Welcome to Rails Installer OSX</h1>
<p>This is running on Engine Yard Cloud. Impressive Service!</p>
<p>I am trying to learn RoR but fumbling around with Git<p>
<p>Does anybody else want to learn this?<p>
<p>I think I am getting the hang of it.<p>
